<launch>
	<node pkg="aruco" type="aruco" name="aruco">
		<!--Detector-->
		<param name="debug" value="true"/>
		<param name="cosine_limit" value="0.7"/>
		<param name="use_opencv_coords" value="false"/>
		<param name="theshold_block_size_min" value="3"/>
		<param name="theshold_block_size_max" value="21"/>
		<param name="max_error_quad" value="0.035"/>
		<param name="min_area" value="100"/>

		<!--Markers SIZE_CM POS_XYZ ROT_XYZ-->

		<!--
		<param name="marker000" value="0.035_0.0_0_0_0_0_0"/>
		<param name="marker001" value="0.035_0.046_0_0_0_0_0"/>
		<param name="marker002" value="0.035_0.092_0_0_0_0_0"/>
		<param name="marker003" value="0.035_0.138_0_0_0_0_0"/>

		<param name="marker004" value="0.035_0.0_0.046_0_0_0_0"/>
		<param name="marker005" value="0.035_0.046_0.046_0_0_0_0"/>
		<param name="marker006" value="0.035_0.092_0.046_0_0_0_0"/>
		<param name="marker007" value="0.035_0.138_0.046_0_0_0_0"/>

	  <param name="marker008" value="0.035_0.0_0.093_0_0_0_0"/>
		<param name="marker009" value="0.035_0.046_0.093_0_0_0_0"/>
		<param name="marker010" value="0.035_0.092_0.093_0_0_0_0"/>
		<param name="marker011" value="0.035_0.138_0.093_0_0_0_0"/>

		<param name="marker012" value="0.035_0.0_0.140_0_0_0_0"/>
		<param name="marker013" value="0.035_0.046_0.140_0_0_0_0"/>
		<param name="marker014" value="0.035_0.092_0.140_0_0_0_0"/>
		<param name="marker015" value="0.035_0.138_0.140_0_0_0_0"/>


		<param name="marker016" value="0.035_0.0_0.186_0_0_0_0"/>
		<param name="marker017" value="0.035_0.046_0.186_0_0_0_0"/>
		<param name="marker018" value="0.035_0.092_0.186_0_0_0_0"/>
		<param name="marker019" value="0.035_0.138_0.186_0_0_0_0"/>
	-->

		<!-- <param name="marker000" value="3.5_0.0_0_0_0_0_0"/> -->
		<!-- <param name="marker100" value="3.5_4.6_0_0_0_0_0"/> -->

		<!--
		<param name="marker002" value="0.035_0.092_0.233_0_0_0_0"/>
		<param name="marker003" value="0.035_0.138_0.233_0_0_0_0"/>

		<param name="marker004" value="0.035_0.0_0.186_0_0_0_0"/>
		<param name="marker005" value="0.035_0.046_0.186_0_0_0_0"/>
		<param name="marker006" value="0.035_0.092_0.186_0_0_0_0"/>
		<param name="marker007" value="0.035_0.138_0.186_0_0_0_0"/> -->

		<!--Camera-->
		<param name="topic_camera"          value="/sr300/rgb/image_color"/>
		<param name="topic_camera_info"    value="/sr300/rgb/camera_info"/>
	</node>
</launch>
