<launch>
	<node pkg="aruco" type="aruco" name="aruco">
		<!--Detector-->
		<param name="debug" value="false" />
		<param name="cosine_limit" value="0.7"/>
		<param name="theshold_block_size_min" value="3"/>
		<param name="theshold_block_size_max" value="21"/>
		<param name="max_error_quad" value="0.035"/>
		<param name="min_area" value="100"/>
		<param name="use_opencv_coords" value="true"/>


		<!--Markers SIZE_CM POS_XYZ ROT_XYZ-->
		<param name="marker50" value="3.7_0.0_0_0_0_0_0"/>
		<param name="marker51" value="3.7_4.65_0_0_0_0_0"/>
		<param name="marker52" value="3.7_9.3_0_0_0_0_0"/>
		<param name="marker53" value="3.7_13.9_0_0_0_0_0"/>

		<param name="marker54" value="3.7_0.0_4.65_0_0_0_0"/>
		<param name="marker55" value="3.7_4.6_4.65_0_0_0_0"/>
		<param name="marker56" value="3.7_9.3_4.65_0_0_0_0"/>
		<param name="marker57" value="3.7_13.9_4.65_0_0_0_0"/>

		<param name="marker58" value="3.7_0.0_9.35_0_0_0_0"/>
		<param name="marker59" value="3.7_4.6_9.35_0_0_0_0"/>
		<param name="marker60" value="3.7_9.3_9.35_0_0_0_0"/>
		<param name="marker61" value="3.7_13.9_9.35_0_0_0_0"/>

		<param name="marker62" value="3.7_0.0_14_0_0_0_0"/>
		<param name="marker63" value="3.7_4.6_14_0_0_0_0"/>
		<param name="marker64" value="3.7_9.3_14_0_0_0_0"/>
		<param name="marker65" value="3.7_13.9_14_0_0_0_0"/>

		<param name="marker66" value="3.7_0.0_18.65_0_0_0_0"/>
		<param name="marker67" value="3.7_4.6_18.65_0_0_0_0"/>
		<param name="marker68" value="3.7_9.3_18.65_0_0_0_0"/>
		<param name="marker69" value="3.7_13.9_18.65_0_0_0_0"/>

		<param name="marker70" value="3.7_0.0_23.3_0_0_0_0"/>
		<param name="marker71" value="3.7_4.6_23.3_0_0_0_0"/>
		<param name="marker72" value="3.7_9.3_23.3_0_0_0_0"/>
		<param name="marker73" value="3.7_13.9_23.3_0_0_0_0"/>

		<param name="marker0" value="3.7_0.0_0_0_0_0_0"/>
		<param name="marker1" value="3.7_4.65_0_0_0_0_0"/>
		<param name="marker2" value="3.7_9.3_0_0_0_0_0"/>
		<param name="marker3" value="3.7_13.9_0_0_0_0_0"/>

		<param name="marker4" value="3.7_0.0_4.65_0_0_0_0"/>
		<param name="marker5" value="3.7_4.6_4.65_0_0_0_0"/>
		<param name="marker6" value="3.7_9.3_4.65_0_0_0_0"/>
		<param name="marker7" value="3.7_13.9_4.65_0_0_0_0"/>

		<param name="marker8" value="3.7_0.0_9.35_0_0_0_0"/>
		<param name="marker9" value="3.7_4.6_9.35_0_0_0_0"/>
		<param name="marker10" value="3.7_9.3_9.35_0_0_0_0"/>
		<param name="marker11" value="3.7_13.9_9.35_0_0_0_0"/>

		<param name="marker12" value="3.7_0.0_14_0_0_0_0"/>
		<param name="marker13" value="3.7_4.6_14_0_0_0_0"/>
		<param name="marker14" value="3.7_9.3_14_0_0_0_0"/>
		<param name="marker15" value="3.7_13.9_14_0_0_0_0"/>

		<param name="marker16" value="3.7_0.0_18.65_0_0_0_0"/>
		<param name="marker17" value="3.7_4.6_18.65_0_0_0_0"/>
		<param name="marker18" value="3.7_9.3_18.65_0_0_0_0"/>
		<param name="marker19" value="3.7_13.9_18.65_0_0_0_0"/>

		<param name="marker20" value="3.7_0.0_23.3_0_0_0_0"/>
		<param name="marker21" value="3.7_4.6_23.3_0_0_0_0"/>
		<param name="marker22" value="3.7_9.3_23.3_0_0_0_0"/>
		<param name="marker23" value="3.7_13.9_23.3_0_0_0_0"/>

		<!--Camera-->
    <param name="topic_camera"          value="/camera/color/image_raw"/>
    <param name="topic_camera_info"    value="/camera/color/camera_info"/>

		<!-- <remap from="/aruco/pose" to="/test/pose" /> -->

	</node>


</launch>
