<launch>
	<node pkg="aruco" type="aruco" name="aruco">
		<!--Detector-->
		<param name="debug" value="false" />
		<param name="cosine_limit" value="0.7"/>
		<param name="theshold_block_size_min" value="3"/>
		<param name="theshold_block_size_max" value="21"/>
		<param name="max_error_quad" value="0.035"/>
		<param name="min_area" value="100"/>
		<param name="use_opencv_coords" value="true"/>


		<!--Markers SIZE_CM POS_XYZ ROT_XYZ-->
		<param name="marker50" value="3.65_-22.9_-9.0_0_0_0_0_0"/>
		<param name="marker51" value="3.65_-23.2_9.9_2_0_0_0_0"/>
		<param name="marker52" value="3.65_22.7_-9.3_0_0_0_0"/>
		<param name="marker53" value="3.65_22.7_9.6_0_0_0_0"/>

		<param name="marker70" value="3.65_-22.9_-9.0_0_3.14_0_0"/>
		<param name="marker71" value="3.65_23.2_9.9_0_3.14_0_0"/>
		<param name="marker72" value="3.65_22.7_-9.3_0_3.14_0_0"/>
		<param name="marker73" value="3.65_22.7_9.6_0_3.14_0_0"/>


		<!--Camera-->
    <param name="topic_camera"          value="/camera/color/image_raw"/>
    <param name="topic_camera_info"    value="/camera/color/camera_info"/>

		<!-- <remap from="/aruco/pose" to="/test/pose" /> -->

	</node>


</launch>
